body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

.led {
  background: #222;
  border-radius: 4px;
  border: 1px solid #2C3E50;
  border-width: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.led ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.led .row div {
  float: left;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  margin-top: 3px;
  border-radius: 2px;
}

.led .row div.Black {
  background: #444;
}

.led .row div.White {
  background: #fff;
}
