html, body {
  color: #293c4b;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root:fullscreen {
  background: #222;
  justify-content: center;
}

.matrix-container {
}

.matrix {
  background: #222;
  height: 0;
  overflow: hidden;
  padding-top: 50%;
  position: relative;
}

.led {
  display: grid;
  grid-gap: 1%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.led .row {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5%;
}

.led .row div {
  border-radius: 20%;
}

.led .row div.Black {
  background: #444;
}

.led .row div.White {
  background: #fff;
}
